// TEXT COLORS
$mpr-dark-text-color: rgba(5, 5, 5, 5);

// SITE COLORS
$mpr-primary-color: rgba(27, 154, 170, 1);
$mpr-primary-color-darker: darken($mpr-primary-color, 10%);
$mpr-secondary-color: rgba(221, 219, 203, 1);
$mpr-tertiary-color: rgba(245, 241, 227, 1);
