// TEXT COLORS
$mpr-dark-text-color: #000F08;

// SITE COLORS
$mpr-secondary-color: rgba(221, 219, 203, 1);
$mpr-tertiary-color: rgba(245, 241, 227, 1);

// RANGE COLORS
$mpr-range-blue-color: rgba(77, 157, 224, 1);
$mpr-range-blue-color-darker: darken($mpr-range-blue-color, 10%);

$mpr-range-red-color: rgba(225, 85, 84, 1);
$mpr-range-red-color-darker: darken($mpr-range-red-color, 10%);

$mpr-range-yellow-color: rgba(225, 188, 41, 1);
$mpr-range-yellow-color-darker: darken($mpr-range-yellow-color, 10%);

$mpr-range-green-color: rgba(59, 178, 115, 1);
$mpr-range-green-color-darker: darken($mpr-range-green-color, 10%);

$mpr-range-purple-color: rgba(119, 104, 174, 1);
$mpr-range-purple-color-darker: darken($mpr-range-purple-color, 10%);