// TEXT COLORS
$mpr-dark-text-color: rgba(5, 5, 5, 1);

// SITE COLORS
$mpr-destructive-color: rgba(170, 44, 27, 1);
$mpr-destructive-color-darker: darken($mpr-destructive-color, 10%);
$mpr-primary-color: rgba(27, 154, 170, 1);
$mpr-primary-color-darker: darken($mpr-primary-color, 10%);
$mpr-secondary-color: rgba(221, 219, 203, 1);
$mpr-tertiary-color: rgba(245, 241, 227, 1);

// RANGE COLORS
$mpr-range-blue-color: rgba(77, 157, 224, 1);
$mpr-range-red-color: rgba(225, 85, 84, 1);
$mpr-range-yellow-color: rgba(225, 188, 41, 1);
$mpr-range-green-color: rgba(59, 178, 115, 1);
$mpr-range-purple-color: rgba(119, 104, 174, 1);