@import 'styles/globals.scss';

.range-output {
  font-size: 1.5rem;

  &--label {
    font-weight: bold;
  }

  &--text {
    width: 100%;
  }

  &--clear-button {
    background-color: $mpr-primary-color;
    color: white;
  }
}
