.home {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;

  &--range-builder {
    margin-left: 2rem;
    width: calc(50% - 3rem);
  }

  &--range-output {
    margin-left: 2rem;
    width: calc(50% - 3rem);
  }
}