@import 'styles/globals.scss';

.home {
  display: flex;
  flex-direction: row;
  margin-top: $mpr-gutter-width;

  &--range-builder {
    margin-left: $mpr-gutter-width;
    width: calc(50% - 3rem);
  }

  &--range-info {
    margin-left: $mpr-gutter-width;
    width: calc(50% - 3rem);
  }

  &--range-input {
    margin-top: $mpr-gutter-width;   
  }

  &--board-input {
    margin-top: $mpr-gutter-width;
  }

  &--range-equities {
    margin-top: $mpr-gutter-width;
  }
}